<!DOCTYPE html>
<html>
 <head>
    <title>Duka</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">DuKa</div>
            <nav class="nav">
                <a class="nav_link" href="#">About</a>
                <a class="nav_link" href="#">Contacts</a>
                <a class="nav_link" href="#">Friends</a>
            </nav>
        </div>
    </div>
</header>
<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <h1 class="intro_title">Welcome to My Site</h1>
            <a class="button" href="https://vk.com/dmaldybaev">My story</a>
        </div>
        <div class="slider">
            <div class="slider_item active">
                <span class="slider_num">01</span>My school
            </div>
            <div class="slider_item">
                <span class="slider_num">02</span>My home
            </div>
            <div class="slider_item">
                <span class="slider_num">03</span>My Friends
            </div>
            <div class="slider_item">
                <span class="slider_num">04</span>My favorites
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="section_header">
            <h3 class="section_suptitle">Who am I?</h3>
            <h2 class="section_title">Story about me</h2>
            <div class="section_text">
                <p> Всем привет! Меня зовут Даулет и я студент Назарбаев Университета.
                    На данный момент я ученик Foundation Year Programm и могу сказать,
                    что закончил первый семестр этого курса на хорошую оценку.
                    Я люблю играть в видеоигры, заниматься спортом и слушать музыку.
                </p>
            </div>
        </div>
        <div class="about">
            <div class="about_item">
                <div class="about_image">
                    <img src="images/1.jpg" alt="">
                </div>
            </div>
            <div class="about_item">
                <div class="about_image">
                    <img src="images/2.jpg" alt="">
                </div>
            </div>
            <div class="about_item">
                <div class="about_image">
                    <img src="images/3.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
</section>

